<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="FastBill:UserName" value=""/>
    <add key="FastBill:Password" value=""/>
    <add key="FastBill:BaseAddress" value="https://automatic.fastbill.com/api/1.0/api.php"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
